body {
    height: 100%;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
    background-color: black;
    overflow: hidden;
}

.container {
    display: grid;
    grid-template-columns: auto;
    padding-bottom: 10vh;
}

#top {
    padding-top: 4vh;
    font-size: 3vw;
    color: rgb(136, 23, 152);
}

#highscores {
    text-align: start;
}

#time {
    text-align: end;
}

main {
    padding-top: 8vh;
}