html {
    font-size: calc(0.5em + 0.75vw)
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
    background-color: rgb(12,12,12);
    overflow: hidden;
}

main {
    padding-top: 2em;
}

.container {
    display: grid;
    grid-template-columns: auto;
    padding-bottom: 4rem;
}

#top {
    padding-top: 2em;
    font-size: inherit;
    color: rgb(136, 23, 152);
}

#highscores {
    text-align: start;
}

#time {
    text-align: end;
}

h1 {
    font-size: 2.2em;
    text-align: center;
    color: rgb(19,161,14);
    padding-top: 1em;
    letter-spacing: 0.5em;
}

#instructions {
    background-color: rgb(12,12,12);
    margin-top: 2em;
    border: 5px solid rgb(19,161,14);
    border-radius: 4px;
    border-style: ridge;
}

p {
    color: rgb(0,55,218);
    padding: 1em;
    text-align: center;
    line-height: 2em;
    letter-spacing: 0.25em;
}

a {
    color: rgb(0,55,218);
}

a:hover {
    text-decoration: none;
    color: rgb(193,156,0);
}

a:active {
    color:rgb(19,161,14);
}

button {
    background: rgb(0,55,218);
    width: 15em;
    border: solid 5px rgb(242,242,242);
    border-radius: 40px;
    color: rgb(242,242,242);
    padding: 2em;
    text-align: center;
    text-decoration: none;
    transition: all 0.1s;
}

button:hover {
    background-color:rgb(19,161,14);
    color: rgb(12,12,12);
    border: solid 5px rgb(242,242,242);
    letter-spacing: -0.05em;
}

button:active {
    background-color:rgb(12,12,12);
    color: rgb(19,161,14);
    border: solid 5px rgb(19,161,14);;
    letter-spacing: 0.05em;
}


@media (max-width: 823px) and (min-height: 320px) and (orientation: landscape) {

    main {
        margin-top: -2em;
        font-size: 80%;
    }

    footer {
        position: absolute;
        text-align: center;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2.5rem;
      }
}